<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="ui-g">
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <p-panel>
      <p-header>

      </p-header>

      <form [formGroup]="_model.locationForm" (ngSubmit)="onSubmit()">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-12 ui-lg-12">

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <input id="streetAddress" pInputText type="text" pTooltip="Street Address" placeholder="Right" tooltipEvent="focus" formControlName="streetAddress"
                placeholder="Street 150 A # 96 A 71" style="width: 100%; height: 34px;">
              <div style="background-color: firebrick; color: honeydew; width: 90%" *ngIf="!_model.locationForm.controls['streetAddress'].valid&&_model.locationForm.controls['streetAddress'].dirty">
                <i class="fa fa-info-circle">
                  Address is requerid!
                </i>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <input pInputText type="text" pKeyFilter="int" pTooltip="PostalCode" placeholder="Right" tooltipEvent="focus" formControlName="postalCode"
                placeholder="PostalCode{90001}" style="width: 100%; height: 34px;">
              <div style="background-color: firebrick; color: honeydew; width: 90%" *ngIf="!_model.locationForm.controls['postalCode'].valid&&_model.locationForm.controls['postalCode'].dirty">
                <i class="fa fa-info-circle">
                  PostalCode is requerid!
                </i>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <input pInputText type="text" pTooltip="City" placeholder="Right" tooltipEvent="focus" formControlName="city" placeholder="Los Angeles"
                style="width: 100%; height: 34px;">
              <div style="background-color: firebrick; color: honeydew; width: 90%" *ngIf="!_model.locationForm.controls['city'].valid&&_model.locationForm.controls['city'].dirty">
                <i class="fa fa-info-circle">
                  City is requerid!
                </i>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <input pInputText type="text" pTooltip="State" placeholder="Right" tooltipEvent="focus" formControlName="stateProvince" placeholder="California"
                style="width: 100%; height: 34px;">
              <div style="background-color: firebrick; color: honeydew; width: 90%" *ngIf="!_model.locationForm.controls['stateProvince'].valid&&_model.locationForm.controls['stateProvince'].dirty">
                <i class="fa fa-info-circle">
                  State Province is requerid!
                </i>
              </div>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <p-dropdown [options]="_model.countryItems" formControlName="countryId" [(ngModel)]="_model.request.location.countryId" [style]="{'width':'100%'}"
                filter="true">
                <ng-template let-item pTemplate="selectedItem">
                  <span style="vertical-align:middle">{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div style="background-color: firebrick; color: honeydew; width: 90%" *ngIf="!_model.locationForm.controls['countryId'].valid&&_model.locationForm.controls['countryId'].dirty">
                <i class="fa fa-info-circle">
                  Country is requerid!
                </i>
              </div>
            </div>
          </div>

          <hr style="width: 95%; margin: 0% auto">

          <div class="ui-g-12 ui-md-12 ui-lg-12">

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <button pButton type="submit" class="ui-button-raised ui-button-rounded" label="Submit" [disabled]="!_model.locationForm.valid"
                style="width: 100%"></button>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <button pButton type="button" class="ui-button-danger ui-button-raised ui-button-rounded" [disabled]="_model.disableDelete"
                style="width: 100%" label="Delete" (click)="deleteLocation()"></button>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-4">
              <button pButton type="button" class="ui-button-secondary ui-button-raised ui-button-rounded" style="width: 100%" label="Clean"
                (click)="_model.clean()"></button>
            </div>

          </div>

        </div>
      </form>

      <p-footer>
        <div class="ui-g" style="text-align: center">
          <p-table [responsive]="true" [columns]="_model.locationColums" [value]="_model.locations" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
            [paginator]="true" [rows]="10" [loading]="_model.loading" (onRowSelect)="onRowSelect()" (onRowUnselect)="_model.clean()"
            [(selection)]="_model.request.location">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th>
                  Select
                </th>

                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData">
                <td>
                  <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
                </td>
                <td *ngFor="let col of columns">
                  <span class="ui-column-title">{{col.header}}</span>
                  {{rowData[col.field]}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

      </p-footer>
    </p-panel>
  </div>
</div>